/* Bordered form */
 
form {
 
    display: block;
 
    margin: auto;
 
    padding-left: 30%;
 
    padding-right: 30%
 

 
}
 
body {
 
  background-image: url("maps.png");
 
  background-size:cover;
 
  background-repeat:no-repeat;
 
}
 
/* Full-width inputs */
 
input[type=text] {
 
    
    float: left;
    
    width: calc(30% - 39px);
    
    padding: 11.5px 20px;
    
    margin-left: 5%;
 
    display: inline-block;
 
    border: 0,5px solid #ccc;
 
    box-sizing: border-box;
 
    border-radius: 5px;
 
}

input[type=datetime] {
    
    float: left;
    
    width: calc(30% - 39px);
    
    margin-left: 5%;
    
    padding: 10px 20px;
 
    display: inline-block;
 
    border: 0,5px solid #ccc;
 
    box-sizing: border-box;
 
    border-radius: 5px;
 
    
}

input[type=number] {
 
    float: left;
    
    width: calc(30% - 39px);
    
    padding: 11.5px 20px;
    
    margin-left: 5%;
 
    display: inline-block;
 
    border: 0,5px solid #ccc;
 
    box-sizing: border-box;
 
    border-radius: 5px;
 
}
 
.burgerimg {
    float:right;
    margin-right: 5%;
}
 
/* Set a style for all buttons */
 
button {
 
    background-color: #FFA224;
 
    color: white;
 
    padding: 14px 20px;
 
    margin: 8px 0;
 
    border: none;
 
    cursor: pointer;
 
    xwidth: 60%;
 
    border-radius: 20px;
    
    float: left;
 
}
 

 
/* Add a hover effect for buttons */
 
button:hover {
 
    opacity: 0.8;
 
}
 

 
/* Extra style for the cancel button */
 
.forgotpsd {
 
  background-color: rgba(192,188,188,0.0);
 
  border-color: #FFA224;
 
  width: auto;
 
  padding: 6px 15px;
 
  color: black;
 
  xbackground-color: #000000;
 
  float: left;
 
  margin-left: 47%;
 
}
 
.submitbtn {
 
  width: 30%;
 
  float: left;
 
  border-radius: 5px;
    
  align-self: center;
    
  margin-top: 5%;
 
  margin-right: 5%;
    
  margin-left: 33%; 
 
}
 

 
/* Center the avatar image inside this container */
 
.imgcontainer {
 
    text-align: center;
 
    margin: 24px 0 12px 0;
 

 
}
 
h2 {
    font-size: 150%;
    margin-left: 5%;
    font-family: sans-serif;
    opacity: 0.7;
}

h3 {
    font-size: 200%;
    font-family: sans-serif;
    margin-left: 5%;
}

p {
    width: 50%;
    font-family: sans-serif;
    font-size: 80%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}


 
.greybox {
     
  width:120%;
 
  margin-top: 20%;
 
  margin-left: 1px;
 
  background-color: rgba(192,188,188,0.85);
 
  opacity: 1;
 
  border-radius: 15px;
 
  overflow: auto;
    
  padding-bottom: 5%;
 
}
 

 
/* Add padding to containers */
 

/* Change styles for span and cancel button on extra small screens */
 
@media screen and (max-width: 300px) {
 
    .cancelbtn {
 
        width: 100%;
 
    }
 
    .forgotpsd {
 
      width: 100%;
 
    }
 
}
 
